<div class="link-details">
	<a class="link-title">
		<img class="favicon">
		<span class="link-title-text"></span>
	</a>
	<span class="text text-by">by</span>
	<a class="link-author inline-user"></a>
	<span class="text text-in">in</span>
	<a class="link-subreddit inline-subreddit"></a>
</div>
<div class="comment-details">
	<a class="comment-author inline-user"></a>
	<span class="comment-score"></span>
	<time class="comment-time"></time>
</div>
<div class="comment-body"></div>
<div class="actions">
	<a target="_blank" class="permalink">permalink</a>
	<a target="_blank" class="context">context</a>
	<a target="_blank" class="full-comments">full comments</a>
</div>