<div class="details">
	<a class="thumbnail" target="_blank"></a>
	<div class="index"></div>
	<a class="link-title" target="_blank"></a>
	<a class="domain"></a>
	<br>
	<span class="score"></span>
	<span class="text text-submitted">submitted</span>
	<time class="time"></time>
	<span class="text text-by">by</span>
	<a class="author user"></a>
	<span class="text text-with">with</span>
	<a class="comments"></a>
	<span class="text text-to">to</span>
	<a class="subreddit"></a>
	<span class="gold"></span>
</div>
<div class="embedded"></div>