<div class="details">
	<div class="thumbnail"></div>
	<div class="index"></div>
	<a class="title" target="_blank"><img class="favicon"><span class="title-text"></span></a><br>
	<span class="score"></span>
	<span class="text text-submitted">submitted</span>
	<time class="time"></time>
	<span class="text text-by">by</span>
	<a class="author user"></a>
	<span class="text text-with">with</span>
	<a class="comments"></a>
	<span class="text text-to">to</span>
	<a class="subreddit"></a>
</div>
<div class="embedded"></div>