.link .embedded {
	display: none;
	clear: both;
	box-sizing: border-box;
	overflow: auto;
	cursor: auto;
	&:before {
		.nav-divider();
		display: block;
		content: '';
		margin: 4px 0;
	}
}
.embedded {
	.embedded-selftext,
	.embedded-image {
		max-width: 60em;
	}
	.resizable img,
	.resizable video {
		width: 100%;
	}
}