.link .embedded {
	display: none;
	clear: both;
	box-sizing: border-box;
	overflow: auto;
	cursor: auto;
	margin: @base-padding -@base-padding -@base-padding;
	padding: @base-padding;
	border-top: 1px solid @listing-item-border-color;
	background-color: @embedded-bg;
}
.embedded {
	.embedded-selftext,
	.embedded-image {
		max-width: 60em;
	}
	.resizable img,
	.resizable video {
		width: 100%;
	}
}