.link {
	.clearfix();
	cursor: default;
	min-height: 70px;
	position: relative;

	// posts marked NSFW
	&.over18 {
		background: rgba(200, 0, 0, 0.05);
	}

	// posts stickied to the top of listing
	&.stickied {
		background: rgba(0, 200, 0, 0.05);
	}

	.thumbnail {
		display: block;
		float: left;
		color: #fff;
		width: 70px;
		height: 70px;
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.2),
			0 0 0 1px #000;
		background-color: #000;
		background-position: center;
		background-repeat: no-repeat;
		text-align: center;
		margin: 1px;
		margin-top: 0;
		margin-right: 0.5em;
		position: relative;
		z-index: 2;
		border-radius: 0;
	}

	// if no thumbnail to display
	.thumbnail.empty {
		z-index: 1;
		background-color: #ddd;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAHElEQVQokWP4//+/MS7MgA+MaqSFxsHlmpGuEQByazhwczcltgAAAABJRU5ErkJggg==');
		background-repeat: repeat;
		background-position: top left;
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.2),
			0 0 0 1px #ccc;
	}

	.details {
		line-height: (70px / 3);
	}

	.title {
		color: #008;
	}
	.title:visited {
		color: #808;
	}

	.time.edited:after {
		content: '*';
	}

	.details .text,
	.details .time,
	.domain {
		color: #888;
	}

	.comments {
		color: #444;
	}

	.index {
		color: #aaa;
		position: absolute;
		top: 0;
		right: 0;
		text-align: right;
	}

	&.has-embedded {
		.thumbnail {
			cursor: pointer;
		}
		.thumbnail:after {
			@expando-size: 30px;
			.btn();
			.glyphicon();
			content: '\2b';
			position: absolute;
			width: @expando-size;
			height: @expando-size;
			top: (70px - @expando-size - 1px);
			left: (70px - @expando-size - 1px);
			line-height: @expando-size;
			text-align: center;
			padding: 0;
		}
		&:not(:hover) .thumbnail:after {
			@shadow-color: #fff;
			color: #000;
			text-shadow:
				-1px -1px 0 @shadow-color,
				 1px -1px 0 @shadow-color,
				-1px  1px 0 @shadow-color,
				 1px  1px 0 @shadow-color;
		}
		&:hover .thumbnail:after {
			.btn-default();
		}
		&.showing-embedded .thumbnail:after {
			content: '\2212';
		}
	}
}