.link-title {
	&,
	&:hover {
		color: #008;
	}
	&:visited {
		color: #808;
	}
	.favicon {
		width: 16px;
		height: 16px;
		margin-right: 0.25em;
		vertical-align: text-top;
		background-color: #fff;
	}
}