@body-bg: rgb(234, 237, 238);
@sidebar-bg: rgb(246, 247, 248);
@sidebar-border-color: rgb(190, 195, 198);
@listing-item-bg: #fff;
@listing-item-border-color: rgb(220, 225, 228);
@embedded-bg: rgb(249, 250, 250);